fastapi
uvicorn
python-dotenv

openai
anthropic

langchain-core
langchain-anthropic
langchain-community
fastembed
langchain-chroma
langchain-text-splitters

chromadb

pymupdf
reportlab
pillow

pytest
httpx